<!-- <div class="title">Other destinations</div> -->
<% @trips.each do |trip_result| %>
<article class="trip-item trip-box">
   <%=link_to( trip_result.name, trip_path(:trip_result)) %>
      <span class="trip-image">

        <span class="more">More</span>
      <%= image_tag(trip_result.paintings.first.image.url(:resized).to_s) unless trip_result.paintings.first.blank? %>
      </span>  <!-- .trip-mage -->

    <span class="trip-tent">

      <span class="trip-title">
        <%= trip_result.try(:name) %>

      </span> <!-- .trip-title -->

      <span class="desc">
        <%= trip_result.try(:latitude) %>
        <%= trip_result.try(:longitude) %>
      </span> <!-- .desc .fly-left -->

      <span class="meta">
          <span class="distance car-distance">
            <i></i>
              <%= calculate_distance('CAR', params[:location], trip_result.city).last unless params[:location].blank? %>
          </span>

          <span class="distance time">
            <i></i>
              <%= calculate_distance('CAR', params[:location], trip_result.city).first  unless params[:location].blank? %>
          </span>

      </span> <!-- .meta stand-by -->

    </span> <!-- .trip-tent -->
</a>
</article>  <!-- .trip-item -->
<% end %>
