<section class="filter-col horizontal-filter-col">
<div class="wrapBlock">
  <%= form_tag trips_path, method: :get do %>

  <div class="box filter-box">

    <div class="box-content location-from itable wi wi-map-marker">
      <div class="title iblock">Departure from: </div>

      <% if params[:location] %>
          <script type="text/javascript">
              if($.cookie('is_from') === null) {
                  $.cookie('is_from', <%= params[:location] %>, { expires: 365 });
              }
          </script>
      <% end %>

      <% if cookies['is_from'] %>
            <%= text_field_tag("location", params[:location], :autocomplete => :off, value:cookies['is_from'], class:"input size2 map") %>
        <% elsif cookies['is_from'].nil? %>
            <%= text_field_tag("location", params[:location], :autocomplete => :off, value:params[:location], class:"input size2 map", placeholder:"your city name here") %>
        <% end %>


      <!-- if no departure location selected -->
      <div class="wat-modal no-location-modal" id="wat-no-location">

        <div class="modal-title">
          <%= t "default.search_results.location_pop_title" %>
          <div class="wi wi-times close"></div>
        </div>

        <p><%= t "default.search_results.location_pop_content" %></p>

      </div> <!-- .wat-modal no-location-modal -->

    </div> <!-- .box-content -->

    <div class="box-content itable" id="wat-transport">
      <div class="title iblock">Travel with: </div>
      <div class="trip-with trip-type options">
        <label class="styled styled-on" id="by_car">
          <input id="by_car" name="by_car" type="checkbox" checked="checked" disabled>
          <i></i><span><%= t "default.search_results.by_car" %></span>
        </label>

        <label class="styled disabled" id="by_bike">
          <input id="by_bike" name="by_bike" type="checkbox" disabled="disabled">
          <i></i><span><%= t "default.search_results.by_bike" %></span>
        </label>

      </div>
    </div> <!-- .box-content -->

    <div class="box-content distance-from itable" id="wat-distance-limit">
      <div class="title iblock">Max distance: </div>
      <div class="trip-with trip-type options">

        <div class="box-content distance-km iblock"></div>
        <div id="distance-slider" class="iblock">

        </div>

        <div class="iblock" id="distance-filter"></div> <div class="iblock">Km</div>
        <input id="distance-input" name="distance-filter" size="10" hidden="hidden" readonly="readonly" />


        <script type="text/javascript">
            /* Distance slider */
            $(document).ready(function() {

            var startRange = 0;
            var stopRange = 200;

            $("#distance-slider").slider({
                range: "max",
                value: 110,
                min: startRange,
                max: stopRange,
                slide: function(event, ui) {
                    $("#distance-filter").text(ui.value);
                }
            });
                $("#distance-filter").text(stopRange);
            });
        </script>

      </div>

    </div> <!-- .box-content -->


      <div class="trip-type options itable trip-categories">
        <div class="title iblock">Your interests: </div>
        <% a = params[:category] ? params[:category].keys : "" %>
        <% hike_check = (a.include?'hiking') ? true : false %>
       <label class= "styled" id="go_hike" title="<%= t "default.form.go_hike" %>">
          <%= check_box_tag("category[hiking]", (params[:category] ? params[:category]["hiking"] : params[:category]), hike_check, id:"go_hike") %>
          <i></i><span><%= t "default.general.hiking" %></span>
        </label>

        <label class="styled" id="go_mountain" title="<%= t "default.form.go_mountain" %>">
          <% mountain_check = (a.include?'mountains') ? true : false %>
          <%= check_box_tag("category[mountains]", (params[:category] ? params[:category]["mountains"] : params[:category]), mountain_check, id:"go_mountain") %>
          <i></i><span><%= t "default.general.mountains" %></span>
        </label>

        <label class="styled" id="go_lake" title="<%= t "default.form.go_lake" %>">
          <% lake_check = (a.include?'waters') ? true : false %>
          <%= check_box_tag("category[waters]", (params[:category] ? params[:category]["waters"] : params[:category]), lake_check, id:"go_lake") %>

          <i></i><span><%= t "default.general.waters" %></span>
        </label>

        <label class="styled" id="go_castle" title="<%= t "default.form.go_castle" %>">
          <% castle_check = (a.include?'castles') ? true : false %>
          <%= check_box_tag("category[castles]", (params[:category] ? params[:category]["castles"] : params[:category]), castle_check, id:"go_castle") %>

          <i></i><span><%= t "default.general.castles" %></span>
        </label>

        <label class="styled" id="go_culture" title="<%= t "default.form.go_culture" %>">
          <% event_check = (a.include?'culture') ? true : false %>
          <%= check_box_tag("category[culture]", (params[:category] ? params[:category]["culture"] : params[:category]), event_check, id:"go_culture") %>

          <i></i><span><%= t "default.general.culture" %></span>
        </label>

        <label class="styled" id="go_city" title="<%= t "default.form.go_city" %>">
          <% city_check = (a.include?'cities') ? true : false %>
          <%= check_box_tag("category[cities]", (params[:category] ? params[:category]["cities"] : params[:category]), city_check, id:"go_city") %>
          <i></i><span><%= t "default.general.cities" %></span>
        </label>
      </div>

      <input class="submit-go rsmaller faded" name="filter" type="submit" value="&raquo;">

    </div>

  
  <% # = render 'suggestions' %>
  <% end %>
</div>
</section>