<!-- <div class="title">Other destinations</div> -->
<% @trips.each do |trip| %>
  <article class="trip-item trip-box">
    <a href="#" title="<%=trip.name%>">
      <span class="trip-image">

        <span class="more">More</span>

        <%=image_tag("samples/pic3.jpg", width: '255', height: '419', alt: "Edit Entry") %>

      </span>  <!-- .trip-mage -->

    <span class="trip-tent">

      <span class="trip-title">
        <%=trip.name%>

      </span> <!-- .trip-title -->

      <span class="desc">

      </span> <!-- .desc .fly-left -->

      <span class="meta">
          <span class="distance car-distance">
            <i></i>
            <%= calculate_distance('CAR', get_location(params[:location]), trip.city).last %><br />
            <%= calculate_distance('CAR', get_location(params[:location]), trip.city).first %>
          </span>
      </span> <!-- .meta stand-by -->

    </span> <!-- .trip-tent -->
    </a>
  </article>  <!-- .trip-item -->
<% end %>