<!-- <div class="title">Other destinations</div> -->
<% if @trips.present? %>
<% @trips.each do |trip| %>
  <article class="trip-item trip-box">
    <a href="<%=trip_path(trip)%>" title="<%=trip.name%>" class="trip-card">
      <span class="trip-image">

        <span class="more">More</span>
        <%= image_tag(trip.paintings.first.image.url(:resized).to_s) unless trip.paintings.first.blank? %>
      </span>  <!-- .trip-mage -->

    <span class="trip-tent">

      <span class="trip-title">
        <%=trip.name %>

      </span> <!-- .trip-title -->

      <span class="desc trip-desc-card">
        <%=h truncate(trip.description, :length => 170) %>
      </span> <!-- .desc .fly-left -->

      <div class="fader"></div>

      <span class="meta">
          <span class="distance car-distance">
            <i></i>
            <%= calculate_distance('CAR', params[:location], trip.city).last unless params[:location].blank? %>
          </span>

          <span class="distance time">
            <i></i>
            <%= calculate_distance('CAR', params[:location], trip.city).first unless params[:location].blank? %>
          </span>

      </span> <!-- .meta stand-by -->

    </span> <!-- .trip-tent -->
    </a>

  </article>  <!-- .trip-item -->
   <% end %>
<% else %>
    <div class="empty">No trip found for the selected category. <br />Have a look at the popular destinations instead or try another search.</div>

    <%= render "default/popular_destination" %>

<% end %>

