<% if @trips.present? %>
<% @trips.each do |trip| %>
  <article class="trip-item trip-box">
    <a href="<%=trip_path(trip)%>" title="<%=trip.name%>" class="trip-card">
      <span class="trip-image">

        <span class="more"><%= t "default.search_results.more" %></span>
        <%= image_tag(trip.paintings.first.image.url(:resized).to_s) unless trip.paintings.first.blank? %>
      </span>  <!-- .trip-mage -->

    <span class="trip-tent">

      <span class="trip-title">
        <%= (params[:locale].eql?"en") ? trip.eng_name : trip.german_name %>
      </span> <!-- .trip-title -->

      <span class="desc trip-desc-card">
        <%= (params[:locale].eql?"en") ? truncate(trip.eng_description, length: 170).html_safe : truncate(trip.german_description, length: 170).html_safe %>
      </span> <!-- .desc .fly-left -->

      <div class="fader"></div>

      <span class="meta">
          <span class="distance car-distance">
            <i></i>
            <%= calculate_distance('CAR', params[:location], trip.city).first unless params[:location].blank? %>
          </span>

          <span class="distance km">
            <i></i>
            <%= calculate_distance('CAR', params[:location], trip.city).last unless params[:location].blank? %>
          </span>


          <span class="trip-category">
            <% trip.categories.each do |cat| %>
             <span class="in_category <%= cat.name.downcase %>"> <%= cat.name %> </span>
            <% end %>
          </span>


      </span> <!-- .meta stand-by -->

    </span> <!-- .trip-tent -->
    </a>

  </article>  <!-- .trip-item -->
   <% end %>
<% else %>
    <div class="empty">No trip found for the selected category. <br />Have a look at the popular destinations instead or try another search.</div>

    <%= render "default/popular_destination" %>

<% end %>
