<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag "listing", "data-turbolinks-track" => true %>
<% end %>
<% content_for :view_specific_js do %>
    <%= javascript_include_tag "scrolltofixed-min.js", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "jquery.ui.slider.js", "data-turbolinks-track" => true %>
<% end %>

<div class="wrapBlock search-results">
  <% trip_name = (params[:locale].eql?"en") ? @trips.map(&:name).first(3) : @trips.map(&:ger_name).first(3) %>
  <div class="head"><%= @trips.size %> <%= t "default.search_results.results" %>

    <% count_trip = trip_name.count - 1 %>
    <% if count_trip < 1 %>
        <%= page_heading "Popular trips"  %>
    <% else %>
        <h1>Travel to <%= "#{trip_name.first(count_trip).join(', ')}" %> and <%= "#{trip_name[count_trip]}" %> by car </h1>
        <%= page_heading "Travel to #{trip_name.first(count_trip).join(', ')}, #{trip_name[count_trip]} and #{trip_name.count} other destinations"  %>

    <% end %>
  </div>
  <%= render 'refine_suggestion_b' %>
  <section class="content-col"> <!-- .stand-by push-right for 3col listing -->


    <div class="box">

      <div class="box-content">

        <div id="trip-list-b" class="trip-list-block">
            <%= render 'search_result' %>
        </div> <!-- trip-list -->
      <div class="trips-pagination" >
        <%= will_paginate @trips, container: false, :next_label => "#{t('default.pagination.next')}", :previous_label => "#{t('default.pagination.previous')}" %>
       </div>
      </div> <!-- .box-content -->
    </div> <!-- .box -->

  </section>
</div> <!-- .wrapBlock search-results -->