<div class="wrapBlock search-results">
<%= render 'refine_suggestion' %>

  <section class="content-col stand-by push-right">
    <div class="head"><%= t "default.search_results.results" %>
      <% trip_name = @trips.map(&:name).first(3) %>
      <% count_trip = trip_name.count - 1 %>
      <% if count_trip == 0 %>
          <h1> Trip to <%= "#{trip_name.join('')}" %> by car 
      <% else %>
          <h1>Trips to <%= "#{trip_name.first(count_trip).join(', ')}" %> and <%= "#{trip_name[count_trip]}" %> by car </h1>
      <% end %>
    </div>

    <div class="box">

      <div class="box-content">

        <div id="trip-list" class="trip-list-block">
            <%= render 'search_result' %>
        </div> <!-- trip-list -->
      <div class="trips-pagination" >
        <%= will_paginate @trips, container: false %>
       </div>
      </div> <!-- .box-content -->
    </div> <!-- .box -->

  </section>
</div> <!-- .wrapBlock search-results -->