<!-- <%= debug(params) %>
<%= @weather %>

-->


<div class="trip-page">

  <div class="wrapBlock">

  <div class="title">
    <div class="wrapBlock">
        <h1>Berlin</h1>
        <span class="distance">
          <span></span>335km away</span>
        <span class="time">
           <span></span>2h 35m
        </span>
    </div>
  </div> <!-- .title -->

  <div class="trip-data">

    <section class="filter-col fly-left with-pointer">
      <div class="box leftcol-break">

        <div class="avatar">
          <img src="/assets/samples/pic3.jpg" alt="ALT" height="349" />
          <div class="more-images">View 10 images</div>
        </div>

        <div class="box-content side_nav">
          <a href="#" title="Title" class="selected" rel="about"><span>About</span></a>
          <a href="#" title="Things to do" rel="activities"><span>Things to do</span></a>
          <a href="#" title="Title" rel="weather"><span>Weather</span></a>
          <a href="#" title="Title" rel="directions"><span>Directions</span></a>
        </div> <!-- .box-content -->
      </div> <!-- .box -->

      <!--
      <div class="about-city">
        <span class="capital">Capital of Germany</span>
        <span class="area"> 891.8 km²</span>
        <span class="population"> 3.502 million</span>
        <span class="local-time"> Now: 8:35 PM</span>
      </div>
      -->
    </section>

    <section class="trip-block stand-by" id="trip-holder">
      <div class="scroller">
      <div class="trip-section" id="about">
        <h2>About Berlin</h2>
            <div class="section-content">
                Lorem ipsum
              <p>


                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu condimentum leo. Nunc et commodo enim. Proin vel faucibus erat. In volutpat libero arcu, nec aliquet est aliquam in. Curabitur euismod aliquet lectus. Pellentesque quam odio, placerat at auctor vitae, facilisis in dui. Nam blandit sapien a feugiat convallis. Fusce nec quam at est sodales luctus in sodales metus. Curabitur suscipit libero non fermentum mattis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras et tincidunt erat, vitae euismod mi. Proin nec volutpat leo. Curabitur rhoncus semper leo, in congue neque sollicitudin id. Integer condimentum tellus eu velit volutpat, sed elementum enim ullamcorper. Donec vel nisl in est egestas iaculis.
                <br />
                Aliquam sed urna lacinia, feugiat nisl sit amet, eleifend augue. Nunc vitae nisi suscipit, varius libero sed, imperdiet diam. Donec volutpat mauris et nisl viverra sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris tincidunt libero accumsan, malesuada purus ut, interdum sem. Nullam pellentesque tincidunt ultricies. Nulla justo libero, malesuada ut arcu congue, accumsan malesuada augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus egestas mauris et ipsum luctus, vel malesuada felis interdum.


              </p>
            </div>
      </div>

      <div class="trip-section" id="activities">
        <h2>Things to do</h2>
         Nuthin'
        --------------------------------
      </div>

      <div class="trip-section" id="weather">
        <h2>Weather</h2>
        <%= @weather[:currently][:summary] %>
        <ul>

        <% @weather[:daily][:data].each do |v| %>
            <li style="display: inline-block; width: 20%; vertical-align: top; padding: 0 20px 20px;">
            <% date = Date.strptime("#{v["time"]}", "%s") %>
            <p>Day <%= date.day %>, Month: <%= date.month %></p>
            <p><strong>Summary: <%= v["summary"] %></strong></p>
            <div>
              <p>Temperature min: <%= v["temperatureMin"] %></p>
              <p>Temperature max: <%= v["temperatureMax"] %></p>
            </div>
            </li>
        <% end %>
        </ul>
        --------------------------------
      </div>

      <div class="trip-section" id="directions">
        <h2>Map</h2>
            <div id="map_canvas"></div>

      </div>
      </div> <!-- .scroller -->
    </section>

  </div> <!-- .trip-data -->

  </div> <!-- .wrapBlock -->
</div> <!-- .trip-page -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(44.462888, 26.058465);
        var settings = {
            zoom: 18,
            center: latlng,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP};
        var map = new google.maps.Map(document.getElementById("map_canvas"), settings);

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        google.maps.event.addListener(companyMarker, 'click', function() {
            infowindow.open(map,companyMarker);
        });
    }
</script>