<% body_class "on-trip" %>
<div class="trip-page">

<div id="galleries" style="background-image: url(<%= @trip.paintings.first.image.url() %> ); background-size: cover; background-position: 50% 50%; background-position: fixed;">

  <div class="title">
    <div class="wrapBlock">
      <h1> <%= (params[:locale].eql?"en") ? @trip.eng_name : @trip.german_name %> </h1>
        <span class="distance">
          <span></span><%= calculate_distance('CAR', session[:location], @trip.city).first unless session[:location].blank? %></span>
        <span class="km">
           <span></span><%= calculate_distance('CAR', session[:location], @trip.city).last unless session[:location].blank? %>
        </span>
      <% if @trip.country.present? %>
        <span class="capital">
           <span></span><%= (params[:locale].eql?"en") ? @trip.country : @trip.ger_country %>
        </span>
      <% end %>
    </div>
  </div> <!-- .title -->
  <div class="adpic-cover"></div>
</div>

  <div class="trip-wrap">

  <div class="trip-data wrapBlock">

    <section class="filter-col fly-left" id="left-trip-filters">
      <div class="box leftcol-break">

        <div class="box-content side_nav">
          <a href="javascript:;" title="About" class="selected" rel="about"><span><%= t "default.product_page.menu_about" %></span></a>
          <a href="javascript:;" title="Gallery" rel="gallery"><span><%= t "default.product_page.menu_gallery" %></span></a>
          <a href="javascript:;" title="Map" rel="directions"><span><%= t "default.product_page.menu_map" %></span></a>
        </div> <!-- .box-content -->
      </div> <!-- .box -->
   </section>
      <!--
    <div class="about-city">
      <span class="capital">Capital of Germany</span>


      <div class="about-city">
        <% if @trip.country.present? %>
           <span class="capital"> <%= @trip.country %> </span>
           <span class="population"> <%= @trip.population %> </span>
           <span class="local-time"> <%= Time.now.strftime("%H:%M") %></span>
        
        <% elsif @trip.ger_country.present? %>   
           <span class="capital"> <%= @trip.ger_country %> </span>
           <span class="population"> <%= @trip.population %> </span>
           <span class="local-time"> <%= Time.now.strftime("%H:%M") %></span>
        <% end %>
      </div>


      <span class="area"> 891.8 km²</span>
      <span class="population"> 3.502 million</span>

      </div>
        -->

    <section class="trip-block stand-by" id="trip-holder">
      <div class="scroller">

      <div class="trip-section" id="about">
        <h2><%= t "default.product_page.menu_about" %></h2>
            <div class="section-content">
              <p>
              <%= (params[:locale].eql?"en") ? @trip.eng_description.html_safe : @trip.german_description.html_safe %>
              </p>
            </div>

        <div class="trip-special">
            <div class="trip-special-block special-coordinates wi wi-location-arrow">
                  <h3>Location</h3>
                  <span><%= (params[:locale].eql?"en") ? @trip.city : @trip.ger_city %>, <%=@trip.zip_code%></span>
                  <span>Lat: <%=@trip.latitude%></span>
                  <span>Long: <%=@trip.longitude%></span>

                  <% if @trip.country.present? %>
                    <span>Country: <%= @trip.country %> </span>
                    <span>Population: <%= @trip.population %> </span>
                    <span>Local time: <%= Time.now.strftime("%H:%M") %></span>
		              <% elsif @trip.ger_country.present? %> 
		                <span>Country: <%= @trip.ger_country %> </span>
                    <span>Population: <%= @trip.population %> </span>
                    <span>Local time: <%= Time.now.strftime("%H:%M") %></span>
                  <% end %>
            </div>

          <div class="trip-special-block special-opening wi wi-clock-o">
            <h3>Opening hours</h3>
            <%= @trip.population %>
          </div>
          <div class="trip-special-block special-weahter wi wi-cloud">
            <h3>Weather now</h3>
            <span><%= @weather[:currently][:summary] unless @weather.nil? %></span>
          </div>

        </div>


      </div> <!-- #about -->

        <div class="trip-section" id="gallery">
          <h2><%= t "default.product_page.menu_gallery" %></h2>
          <div class="section-content">
            <ul>
              <% @trip.paintings.each do |paint| %>

                  <li>
                    <%= link_to image_tag(paint.image_url(:thumb).to_s), paint.image_url, :target=>"_blank" %>
                  </li>

              <% end %>
            </ul>
          </div>

        </div>

        <div class="trip-section" id="directions">

          <h2><%= t "default.product_page.menu_map" %></h2>
          <div id="map-canvas"></div>
          <div id="pano" style="position:relative; width: 740px; height: 500px; display: block"></div>
        </div>

      </div> <!-- .scroller -->
    </section>

  </div> <!-- .trip-data -->

  </div> <!-- .wrapBlock -->

</div> <!-- .trip-page -->

<input id="start" value="Weingarten" style="display: none" />
<input id="end" value="Berlin" style="display: none" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        //var current_location = new google.maps.LatLng(<%=@trip.latitude%>, <%=@trip.longitude%>);

        var current_location = new google.maps.LatLng(50.941282, 6.95695);
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 3,
            mapTypeId: google.maps.MapTypeId.SATELLITE,
            center: current_location,

            // How you would like to style the map.
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"stylers":[{"hue":"#baf4c4"},{"saturation":10}]},{"featureType":"water","stylers":[{"color":"#f6fafc"}]},{"featureType":"all","elementType":"labels","stylers":[{"visibility":"off"}]},{featureType:"administrative",elementType:"labels",stylers:[{visibility:"on"}]},{featureType:"road",elementType:"all",stylers:[{visibility:"off"}]},{featureType:"transit",elementType:"all",stylers:[{visibility:"off"}]}]
        };

        // Get the HTML DOM element that will contain your map
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('map-canvas');

        // Create the Google Map using out element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        var panoramaOptions = {
            position: current_location,
            pov: {
                heading: -60,
                pitch: 35
            }
        };
        var panorama = new  google.maps.StreetViewPanorama(document.getElementById('pano'),panoramaOptions);
    }

</script>
