<div class="trip-page">

<div id="galleries">

  <div class="title">
    <div class="wrapBlock">

      <div class="avatar">
        <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
        <div class="more-images">+ 10</div>
      </div>

      <h1><%=@trip.name %></h1>
        <span class="distance">
          <span></span><%= calculate_distance('CAR', session[:location], @trip.city).last unless session[:location].blank? %></span>
        <span class="time">
           <span></span><%= calculate_distance('CAR', session[:location], @trip.city).first unless session[:location].blank? %>
        </span>
        <span class="weather">
           <span></span>Now: <%= @weather[:currently][:summary] unless @weather.nil? %>
        </span>
    </div>
  </div> <!-- .title -->

</div>

  <div class="trip-wrap">

  <div class="trip-data wrapBlock">

    <section class="filter-col fly-left" id="left-trip-filters">
      <div class="box leftcol-break">

        <div class="box-content side_nav">
          <a href="javascript:;" title="About" class="selected" rel="about"><span><%= t "default.product_page.menu_about" %></span></a>
          <a href="javascript:;" title="Gallery" rel="activities"><span><%= t "default.product_page.menu_gallery" %></span></a>
          <a href="javascript:;" title="Map" rel="directions"><span><%= t "default.product_page.menu_map" %></span></a>
        </div> <!-- .box-content -->
      </div> <!-- .box -->


      <div class="about-city">
        <span class="capital">Capital of Germany</span>
        <span class="area"> 891.8 km²</span>
        <span class="population"> 3.502 million</span>
        <span class="local-time"> Now: 8:35 PM</span>
      </div>

    </section>

    <section class="trip-block stand-by" id="trip-holder">
      <div class="scroller">
      <div class="trip-section" id="about">
        <h2><%= t "default.product_page.menu_about" %></h2>
            <div class="section-content">
              <p>
                <%=@trip.description%>
              </p>
            </div>

      </div>

        <div class="trip-section" id="photo-gallery">
          <h2><%= t "default.product_page.menu_gallery" %></h2>
          <div class="section-content">
            <ul>
              <% @trip.paintings.each do |paint| %>

                  <li>
                    <%= image_tag paint.image.url %>
                  </li>

              <% end %>
            </ul>
          </div>

        </div>

      </div> <!-- .scroller -->
    </section>

  </div> <!-- .trip-data -->

  </div> <!-- .wrapBlock -->
  <div class="trip-section" id="directions">

    <!-- <h2>Map</h2> -->
    <div id="map-canvas"></div>

  </div>
</div> <!-- .trip-page -->

<input id="start" value="Weingarten" style="display: none" />
<input id="end" value="Berlin" style="display: none" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

    [
        {
            "stylers": [
                {
                    "hue": "#baf4c4"
                },
                {
                    "saturation": 10
                }
            ]
        },
        {
            "featureType": "water",
            "stylers": [
                {
                    "color": "#effefd"
                }
            ]
        },
        {
            "featureType": "all",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "on"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "transit",
            "elementType": "all",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        }
    ]

    var myOptions = {
        zoom: 15,
        center: new google.maps.LatLng(53.385873, -1.471471),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: style_array_from_above_here
    };

    var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
</script>
