<!-- <%= debug(params) %>
<%= @weather %>

-->
<div class="trip-page">

  <div class="wrapBlock">

  <div class="title">
    <div class="wrapBlock">
        <h1><%=@trip.name%></h1>
        <span class="distance">
          <span></span><%= calculate_distance('CAR', params[:location], trip.city).last unless params[:location].blank? %></span>
        <span class="time">
           <span></span><%= calculate_distance('CAR', params[:location], trip.city).first unless params[:location].blank? %>
        </span>
        <span class="weather">
           <span></span>Now: <%= @weather[:currently][:summary] %>
        </span>
    </div>
  </div> <!-- .title -->

  <div class="trip-data">

    <section class="filter-col fly-left">
      <div class="box leftcol-break">

        <div class="avatar">
          <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
          <div class="more-images">+ 10</div>
        </div>

        <div class="box-content side_nav">
          <a href="#" title="Title" class="selected" rel="about"><span>About</span></a>
          <a href="#" title="Things to do" rel="activities"><span>Things to do</span></a>
          <a href="#" title="Title" rel="weather"><span>Weather</span></a>
          <a href="#" title="Title" rel="directions"><span>Directions</span></a>
        </div> <!-- .box-content -->
      </div> <!-- .box -->


      <div class="about-city">
        <!--
        <span class="capital">Capital of Germany</span>
        <span class="area"> 891.8 km²</span>
        <span class="population"> 3.502 million</span>
        <span class="local-time"> Now: 8:35 PM</span>
        -->
      </div>

    </section>

    <section class="trip-block stand-by" id="trip-holder">
      <div class="scroller">
      <div class="trip-section" id="about">
        <h2>About <%=@trip.name%></h2>
            <div class="section-content">
              <p>
                <%=@trip.description%>
              </p>
            </div>

        <div id="galleries">
          <h2>Photos from <%=@trip.name%></h2>
          <ul>
            <li>
              <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
            </li>
            <li>
              <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
            </li>
            <li>
              <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
            </li>
            <li>
              <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
            </li>
            <li>
              <%= image_tag(@trip.paintings.first.image.url(:resized).to_s) unless @trip.paintings.first.blank? %>
            </li>
          </ul>
        </div>

      </div>

      <div class="trip-section" id="activities">
        <h2>Things to do</h2>
         Nuthin'
        --------------------------------
      </div>

        <!--
        <ul>

        <% @weather[:daily][:data].each do |v| %>
            <li style="display: inline-block; width: 20%; vertical-align: top; padding: 0 20px 20px;">
            <% date = Date.strptime("#{v["time"]}", "%s") %>
            <p>Day <%= date.day %>, Month: <%= date.month %></p>
            <p><strong>Summary: <%= v["summary"] %></strong></p>
            <div>
              <p>Temperature min: <%= v["temperatureMin"] %></p>
              <p>Temperature max: <%= v["temperatureMax"] %></p>
            </div>
            </li>
        <% end %>
        </ul>

        -->

      <div class="trip-section" id="directions">
        <h2>Map</h2>
            <div id="map_canvas"></div>

      </div>
      </div> <!-- .scroller -->
    </section>

  </div> <!-- .trip-data -->

  </div> <!-- .wrapBlock -->
</div> <!-- .trip-page -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(<%= @trip.latitude %>, <%= @trip.longitude %>);
        var settings = {
            zoom: 18,
            center: latlng,
            mapTypeControl: true,
            mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
            navigationControl: true,
            navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
            mapTypeId: google.maps.MapTypeId.ROADMAP};
        var map = new google.maps.Map(document.getElementById("map_canvas"), settings);

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        google.maps.event.addListener(companyMarker, 'click', function() {
            infowindow.open(map,companyMarker);
        });
    }
</script>