<!-- <%= debug(params) %>
<%= @weather %>

-->


<div class="trip-page">

  <div class="wrapBlock">

  <div class="title">
    <div class="wrapBlock">
        <h1>Berlin</h1>
        <span class="distance">
          <span></span>335km away</span>
        <span class="time">
           <span></span>2h 35m
        </span>
    </div>
  </div> <!-- .title -->

  <div class="trip-data">

    <section class="filter-col fly-left with-pointer">
      <div class="box leftcol-break">

        <div class="avatar">
          <img src="/assets/samples/pic3.jpg" alt="ALT" height="349">
        </div>

        <div class="box-content side_nav">
          <a href="#" title="Title" class="selected" rel="about"><span>About</span></a>
          <a href="#" title="Things to do" rel="activities"><span>Things to do</span></a>
          <a href="#" title="Title" rel="weather"><span>Weather</span></a>
          <a href="#" title="Title" rel="directions"><span>Directions</span></a>
        </div> <!-- .box-content -->
      </div> <!-- .box -->

      <div class="about-city">
        <span class="capital">Capital of Germany</span>
        <span class="area"> 891.8 km²</span>
        <span class="population"> 3.502 million</span>
        <span class="local-time"> Now: 8:35 PM</span>
      </div> <!-- .about-city -->

    </section>

    <section class="trip-block stand-by" id="trip-holder">
      <div class="scroller">
      <div class="trip-section" id="about">
        <h2>About Berlin</h2>
            <div class="section-content">
                Lorem ipsum
              <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
              <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
              <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
              --------------------------------
            </div>
      </div>

      <div class="trip-section" id="activities">
        <h2>Things to do</h2>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        --------------------------------
      </div>

      <div class="trip-section" id="weather">
        <h2>Weather</h2>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <%= @weather[:currently][:summary] %>
        <% @weather[:daily][:data].each do |v| %>
            <% date = Date.strptime("#{v["time"]}", "%s") %>
            <p>Day <%= date.day %>, Month: <%= date.month %></p>
            <p><strong>Summary: <%= v["summary"] %></strong></p>
            <div>
              <p>Temperature min: <%= v["temperatureMin"] %></p>
              <p>Temperature max: <%= v["temperatureMax"] %></p>
            </div>
        <% end %>
        --------------------------------
      </div>

      <div class="trip-section" id="directions">
        <h2>Directions</h2>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        <p><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></p>
        --------------------------------
      </div>
      </div> <!-- .scroller -->
    </section>

  </div> <!-- .trip-data -->

  </div> <!-- .wrapBlock -->
</div> <!-- .trip-page -->