<h1>Dashboard!</h1>

<%= link_to "Add a new Category",new_admin_category_path %>
<%= link_to "Add a new Hotel",new_admin_hotel_path %>
<%= link_to "Add a new Restaurant",new_admin_restaurant_path %>
<%= link_to "Add a new Trip",new_admin_trip_path %>
<%= link_to "List all Categories", admin_categories_path %>
<%= link_to "List all Hotels", admin_hotels_path %>
<%= link_to "List all Restaurants", admin_restaurants_path %>
<%= link_to "List all Restaurants", admin_trips_path %>


