<section class="homepageEngine" data-type="background" data-speed="2">
  <div class="adPic">

    <div class="slogan"><%= t "default.home.slogan" %>
      <div class="subSlogan"><%= t "default.home.subslogan" %></div>
    </div>



    <%= form_tag trips_path, method: :get do %>
        <div id="Search">
          <div class="searchBlock options">

            <label class="styled" id="go_hike">
              <%= check_box_tag("category[hike]", (params[:category]), false, id:"go_hike") %>
              <span><span>Hiking</span></span>
            </label>

            <label class="styled" id="go_mountain">
              <i id="linked"></i>
              <!--<input type="checkbox" name="hike">-->
              <%= check_box_tag("category[mountain]", (params[:category]), false, id:"go_mountain") %>

              <span><span>Mountains</span></span>
            </label>

            <label class="styled" id="go_lake">
              <!--<input type="checkbox" name="beach">-->
              <%= check_box_tag("category[lake]", (params[:category]), false, id:"go_lake") %>

              <span><span>Lakes, sea, waterfalls</span></span>
            </label>

            <label class="styled" id="go_castle">
              <!--<input type="checkbox" name="castles">-->
              <%= check_box_tag("category[castle]",(params[:category]), false, id:"go_castle") %>

              <span><span>Castles</span></span>
            </label>

            <label class="styled" id="go_events">
              <!--<input type="checkbox" name="lake">-->
              <%= check_box_tag("category[event]", (params[:category]), false, id:"go_events") %>

              <span><span>Festivals and Events</span></span>
            </label>

            <label class="styled" id="go_city">
              <!--<input type="checkbox" name="fun">-->
              <%= check_box_tag("category[city]", (params[:category]), false, id:"go_city") %>
              <span><span>Cities</span></span>
            </label>

            <label class="styled" id="go_landscape">
              <!--<input type="checkbox" name="fun">-->
              <%= check_box_tag("category[landscape]", (params[:category]), false, id:"go_landscape") %>
              <span><span>Sightseeing</span></span>
            </label>

          </div> <!-- .searchBlock -->

          <div class="searchBlock select-days">

            <div class="sbTitle">Leaving from:</div>

            <label id="where_from">

              <%= text_field_tag("location", params[:location], class:"tinput", placeholder:"your city name here") %>
            </label>

          </div> <!-- .searchBlock -->

          <div class="searchBlock submit">
            <%= submit_tag("Show me", class: "submit-go") %>

          </div> <!-- .searchBlock -->

        </div>


        </div> <!-- #Search -->
    <% end %>

    <div class="scrollMore">
      <%= image_tag "darrow.svg", alt:"Scroll for more", width: "20", id: "scrollPage" %>
    </div>
    </section>