<div id="trip-list" class="trip-list-block">

  <% Trip.popular_trips.each do |trip| %>

  <article class="trip-item trip-box">
    <a href="<%=trip_path(trip)%>" title="<%= trip.name %>">
      <span class="trip-image">

        <span class="more">More</span>

        <%= image_tag(trip.paintings.first.image.url(:resized).to_s) unless trip.paintings.first.blank? %>

      </span>  <!-- .trip-mage -->

    <span class="trip-tent">

      <span class="trip-title">
        <%= trip.name %>
      </span> <!-- .trip-title -->

      <span class="desc trip-desc-card">
        <%=h truncate(trip.description, :length => 170) %>
      </span> <!-- .desc -->

      <div class="fader"></div>

    </span> <!-- .trip-tent -->
    </a>
  </article>  <!-- .trip-item -->
  <% end %>
 </div> <!-- trip-list -->