<div id="trip-list" class="trip-list-block">

  <% Trip.popular_trips.each do |trip| %>

  <article class="trip-item trip-box">
    <a href="<%=trip_path(trip)%>" title="<%= trip.name %>">
      <span class="trip-image">

        <span class="more">More</span>

        <%= image_tag(trip.paintings.first.image.url(:resized).to_s) unless trip.paintings.first.blank? %>

      </span>  <!-- .trip-mage -->

    <span class="trip-tent">

      <span class="trip-title">
        <%#= trip.name %>
         <%= (params[:locale].eql?"en") ? trip.eng_name : trip.german_name %>
      </span> <!-- .trip-title -->

        <span class="trip-category">
           <% trip.categories.each do |cat| %>
              <span class="in_category <%= cat.name.downcase %>"> <%= cat.name %> </span>
          <% end %>
        </span>

      <span class="desc trip-desc-card">
        <%=h truncate((params[:locale].eql?"en") ? trip.eng_description : trip.german_description, :length => 170) %>
      </span> <!-- .desc -->
      <div class="fader"></div>
    </span> <!-- .trip-tent -->
    </a>
  </article>  <!-- .trip-item -->
  <% end %>
 </div> <!-- trip-list -->