<section class="wideBlock hpFooterBlock popular-destinations">
  <div class="wrapBlock">

    <h1>Popular destinations</h1>

    <% Trip.popular_trips.each do |trip| %>
          <%= trip.name %>
  <% end %>
    <div class="box" id="hp-trips">
      <div class="box-content">

        <div id="trip-list">

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">

                <span class="more">More</span>

                <%=image_tag("samples/pic1.jpg") %>


              </span>  <!-- .trip-mage -->



            <span class="trip-tent">

              <span class="trip-title">
                Koenigssee Lake
              </span> <!-- .trip-title -->

              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <%=image_tag("samples/pic2.jpg") %>

              </span>  <!-- .trip-mage -->

            <span class="trip-tent">

              <span class="trip-title">
                Neuschwanstein Castle
              </span> <!-- .trip-title -->

              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <%=image_tag("samples/pic3.jpg") %>

              </span>  <!-- .trip-mage -->

            <span class="trip-tent">

              <span class="trip-title">
                Frankfurt am Main
              </span> <!-- .trip-title -->

              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->


          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <%=image_tag("samples/pic4.jpg") %>

              </span>  <!-- .trip-mage -->

            <span class="trip-tent">

              <span class="trip-title">
                Aachen Cathedral
              </span> <!-- .trip-title -->

              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <%=image_tag("samples/pic5.jpg") %>

              </span>  <!-- .trip-mage -->

            <span class="trip-tent">

              <span class="trip-title">
                Rugen Island
              </span> <!-- .trip-title -->

              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

          <article class="trip-item trip-box">
            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <%=image_tag("samples/pic6.jpg") %>

              </span>  <!-- .trip-mage -->

            <span class="trip-tent">

              <span class="trip-title">
                Munich
              </span> <!-- .trip-title -->

              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

            </span> <!-- .trip-tent -->
            </a>
          </article>  <!-- .trip-item -->

        </div> <!-- trip-list -->

      </div> <!-- .box-content -->
    </div> <!-- .box -->
  </div> <!-- .wrapBlock -->
</section>