<%= page_heading t "default.home.about_link" %>
<section class="wideBlock collage staticHead">
  <div class="wrapBlock">
    <h1><%= t "default.home.about_link" %></h1>
    <div class="subtitle"><%= t "default.misc.static_about_subtitle" %></div>

  </div> <!-- .wrapBlock -->

  <ul class="tab-switch" id="tab-switch">
    <li><a href="#what-is" title="<%= t "default.misc.static_about_tab_1_title" %>"><%= t "default.misc.static_about_tab_1_title" %></a></li>
    <li><a href="#how" title="<%= t "default.misc.static_about_tab_2_title" %>"><%= t "default.misc.static_about_tab_2_title" %></a></li>
    <li><a href="#with-you" title="<%= t "default.misc.static_about_tab_3_title" %>"><%= t "default.misc.static_about_tab_3_title" %></a></li>
  </ul>

</section>

<section class="wideBlock static-content tab-content" id="what-is">
  <div class="wrapBlock">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>


<section class="wideBlock static-content tab-content" id="how">
  <div class="wrapBlock">


      <div class="wat-tutorial-holder">

        <ul class="wat-tutorial">
          <li>
            <div class="tut-top subtitle"><%= t "default.tutorial.title_1" %></div>
            <div class="tut-pic">
              <%= image_tag('tutorial-1.png') %>
            </div>
            <div class="tut-text">
              <p><%= t "default.tutorial.desc_1" %></p>
            </div>
          </li>
          <li>
            <div class="tut-top subtitle"><%= t "default.tutorial.title_2" %></div>
            <div class="tut-pic">
              <%= image_tag('tutorial-2.png') %>
            </div>
            <div class="tut-text">
              <p><%= t "default.tutorial.desc_2" %></p>
            </div>
          </li>
          <li>
            <div class="tut-top subtitle"><%= t "default.tutorial.title_3" %></div>
            <div class="tut-pic">
              <%= image_tag('tutorial-3.png') %>
            </div>
            <div class="tut-text">
              <p><%= t "default.tutorial.desc_3" %></p>
            </div>
          </li>
        </ul>

        <a href="/" title="<%= t "default.tutorial.button_try" %>" class="submit-go rsmaller faded"><%= t "default.tutorial.button_try" %></a>

      </div> <!-- .wrapBlock -->


  </div> <!-- .wrapBlock -->
</section>

<section class="wideBlock static-content tab-content" id="with-you">
  <div class="wrapBlock">

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>
