<section class="homepageEngine" data-type="background" data-speed="2">
  <div class="adPic">

    <div class="slogan"><%= t "default.home.slogan" %>
      <div class="subSlogan"><%= t "default.home.subslogan" %></div>
    </div>

    <div id="Search">


            <!--
            <div class="searchBlock">

              <div class="sbTitle">Persons:</div>



              <div class="count">
                <%= image_tag "person.svg", alt:"Travelers", width: "20" %>
                <%= text_field_tag("persons", 2) %>

                <span class="number">x<span>2</span></span>
                <span class="add pnav">+</span>
                <span class="rem pnav">-</span>
              </div>

            </div>  -->

            <div class="searchBlock options">

              <label class="styled" id="go_hike">
                <!--<input type="checkbox" name="bikes">-->
                <%= check_box_tag("go_hike", params[:go_hike], false, id:"go_hike") %>
                <span><span>Hiking</span></span>
              </label>

              <label class="styled" id="go_mountain">
                <i id="linked"></i>
                <!--<input type="checkbox" name="hike">-->
                <%= check_box_tag("mountains", params[:go_mountain], false, id:"go_mountain") %>

                <span><span>Mountains</span></span>
              </label>

              <label class="styled" id="go_lake">
                <!--<input type="checkbox" name="beach">-->
                <%= check_box_tag("lakes", params[:go_lake], false, id:"go_lake") %>

                <span><span>Lakes, sea, waterfalls</span></span>
              </label>

              <label class="styled" id="go_castle">
                <!--<input type="checkbox" name="castles">-->
                <%= check_box_tag("castles", params[:go_castle], false, id:"go_castle") %>

                <span><span>Castles</span></span>
              </label>

              <label class="styled" id="go_events">
                <!--<input type="checkbox" name="lake">-->
                <%= check_box_tag("events", params[:go_events], false, id:"go_events") %>

                <span><span>Festivals and Events</span></span>
              </label>

              <label class="styled" id="go_city">
                <!--<input type="checkbox" name="fun">-->
                <%= check_box_tag("city", params[:go_city], false, id:"go_city") %>
                <span><span>Cities</span></span>
              </label>

              <label class="styled" id="go_landscape">
                <!--<input type="checkbox" name="fun">-->
                <%= check_box_tag("landscape", params[:go_landscape], false, id:"go_landscape") %>
                <span><span>Sightseeing</span></span>
              </label>

            </div> <!-- .searchBlock -->

            <div class="searchBlock select-days">

              <div class="sbTitle">Leaving from:</div>

              <label id="where_from">
                <!--<input type="text" name="days" id="days" value="7" class="tinput">-->
                <%= text_field_tag("days", "", class:"tinput", placeholder:"your city name here") %>
                <small>Drop your location here and you'll get travel times and more</small>
              </label>

            </div> <!-- .searchBlock -->

            <div class="searchBlock submit">
              <%= button_tag("", class: "submit-go") %>

            </div> <!-- .searchBlock -->



    </div> <!-- #Search -->


</div>
    <div class="scrollMore">
      <%= image_tag "darrow.svg", alt:"Scroll for more", width: "20", id: "scrollPage" %>
    </div>
</section>


<section class="wideBlock hpFooterBlock">
  <div class="wrapBlock">
    <h1>Popular destinations</h1>
     <div class="box" id="hp-trips">
                      <div class="box-content">

                        <div id="trip-list">

                          <article class="trip-item trip-box">
                            <a href="#" title="Title">
              <span class="trip-image">

                <span class="more">More</span>

                <img src="/assets/samples/pic1.jpg" alt="ALT" height="309" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Koenigssee Lake
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
                            </a>
                          </article>  <!-- .trip-item -->

                          <article class="trip-item trip-box">
                            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic2.jpg" alt="ALT" height="419" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Neuschwanstein Castle
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
                            </a>
                          </article>  <!-- .trip-item -->

                          <article class="trip-item trip-box">
                            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic3.jpg" alt="ALT" height="349" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Frankfurt am Main
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
                            </a>
                          </article>  <!-- .trip-item -->


                          <article class="trip-item trip-box">
                            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic4.jpg" alt="ALT" height="278" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Aachen Cathedral
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
                            </a>
                          </article>  <!-- .trip-item -->

                          <article class="trip-item trip-box">
                            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic5.jpg" alt="ALT" height="388" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Rugen Island
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
                            </a>
                          </article>  <!-- .trip-item -->

                          <article class="trip-item trip-box">
                            <a href="#" title="Title">
              <span class="trip-image">
                <span class="more">More</span>
                <img src="/assets/samples/pic6.jpg" alt="ALT" height="309" />

              </span>  <!-- .trip-mage -->

              <span class="trip-title">
                Munich
              </span> <!-- .trip-title -->

            <span class="trip-tent">
              <span class="desc">
                The Bastei Bridge is a sandstone walking bridge connecting.
              </span> <!-- .desc .fly-left -->

              <span class="meta">
                trip meta data
              </span> <!-- .meta stand-by -->

            </span> <!-- .trip-tent -->
                            </a>
                          </article>  <!-- .trip-item -->

                        </div> <!-- trip-list -->

                      </div> <!-- .box-content -->
                    </div> <!-- .box -->
    </div> <!-- .wrapBlock -->
</section>


<section class="wideBlock hpFooterBlock">
  <div class="wrapBlock">
    <h1>About our website</h1>
    <h2>Find travel offers according to your activities</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
      Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
      sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
      Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
      Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
      Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
    </p>
  </div> <!-- .wrapBlock -->
</section>

<section class="wideBlock addSugg hpFooterBlock">
  <div class="wrapBlock">
    <h3>Where would you like to travel?</h3>
    <h4>Suggest future destinations</h4>

    <a href="#" title="Chicago">Chicago</a>
    <a href="#" title="San Francisco">San Francisco</a>
    <a href="#" title="California">California</a>
    <a href="#" title="New York">New York</a>
    <a href="#" title="Canada">Canada</a>
    <a href="#" title="Mexico">Mexico</a>
    <a href="#" title="Brazil">Brazil</a>
    <a href="#" title="Argentina">Argentina</a>
    <a href="#" title="Peru">Peru</a>
    <a href="#" title="Hawaii">Hawaii</a>
    <a href="#" title="Bucharest">Bucharest</a>
    <a href="#" title="Tg. Mures">Tg. Mures</a>
    <a href="#" title="Hallstat">Hallstat</a>
    <a href="#" title="Austria">Austria</a>
    <a href="#" title="Italy">Italy</a>
    <a href="#" title="Switzerland">Switzerland</a>
    <a href="#" title="Zurich">Zurich</a>
    <a href="#" title="Berlin">Berlin</a>
    <a href="#" title="Just countries">Just countries</a>
    <a href="#" title="Germany">Germany</a>
    <a href="#" title="United Kingdom">United Kingdom</a>
    <a href="#" title="Norway">Norway</a>
    <a href="#" title="Sweden">Sweden</a>
    <a href="#" title="Spain">Spain</a>
  </div> <!-- .wrapBlock -->

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</section>