<%= render "default/form" %>

<section class="wideBlock hpFooterBlock">
  <div class="">
    <div class="wat-title">Hot it works?</div>

    <ul class="wat-tutorial">
      <li>
        <div class="tut-top subtitle">1. Select what you would like to do</div>
        <div class="tut-pic">
          <%= image_tag('tutorial-1.png') %>
        </div>
        <div class="tut-text">
          <p>Make a selection clicking the icons that indicate activities. When you're ready click <strong>"Find places"</strong>.</p>
        </div>
      </li>
      <li>
        <div class="tut-top subtitle">2. Pick a destination from the list</div>
        <div class="tut-pic">
          <%= image_tag('tutorial-2.png') %>
        </div>
        <div class="tut-text">
          <p>Now you have some suggestions. You can pick one from the list or you can change the activity type and restart the search.</p>
        </div>
      </li>
      <li>
        <div class="tut-top subtitle">3. Take a look at the destination details</div>
        <div class="tut-pic">
          <%= image_tag('tutorial-3.png') %>
        </div>
        <div class="tut-text">
          <p>Check out the sinopsis of destination, take a look at the route you have to take and get on the road. Have fun!</p>
        </div>
      </li>
      </ul>
    </p>
  </div> <!-- .wrapBlock -->
</section>



<section class="wideBlock hpFooterBlock popular-destinations">
  <div class="wrapBlock">

    <div class="wat-title">Popular destinations</div>

    <div class="box" id="hp-trips">
      <div class="box-content">
        <%= render "default/popular_destination" %>
      </div> <!-- .box-content -->
    </div> <!-- .box -->
  </div> <!-- .wrapBlock -->
</section>



<%= render "default/footer" %>