<%= page_heading "Wantatrip.com - Explore amazing places in Germany" %>
<%= render "default/form" %>
<% if cookies['tour_over'].nil? %>
<section class="wideBlock hpFooterBlock tutorialBlock">
  <div class="wat-tutorial-holder">
    <div class="wat-title"><%= t "default.tutorial.tutorial_title" %></div>

    <ul class="wat-tutorial">
      <li>
        <div class="tut-top subtitle"><%= t "default.tutorial.title_1" %></div>
        <div class="tut-pic">
          <%= image_tag('tutorial-1.png') %>
        </div>
        <div class="tut-text">
          <p><%= t "default.tutorial.desc_1" %></p>
        </div>
      </li>
      <li>
        <div class="tut-top subtitle"><%= t "default.tutorial.title_2" %></div>
        <div class="tut-pic">
          <%= image_tag('tutorial-2.png') %>
        </div>
        <div class="tut-text">
          <p><%= t "default.tutorial.desc_2" %></p>
        </div>
      </li>
      <li>
        <div class="tut-top subtitle"><%= t "default.tutorial.title_3" %></div>
        <div class="tut-pic">
          <%= image_tag('tutorial-3.png') %>
        </div>
        <div class="tut-text">
          <p><%= t "default.tutorial.desc_3" %></p>
        </div>
      </li>
      </ul>

        <a href="#top" title="<%= t "default.tutorial.button_try" %>" class="submit-go rsmaller faded"><%= t "default.tutorial.button_try" %></a>
        <br /><a href="#remove" title="Never show this again" class="wi wi-times">&nbsp;&nbsp; Got it! Don’t show this again.</a>

    </p>
  </div> <!-- .wrapBlock -->
</section>
<% end %>


<section class="wideBlock hpFooterBlock popular-destinations">
  <div class="wrapBlock">

    <div class="wat-title"><%= t "default.misc.popular_title" %></div>

    <div class="box" id="hp-trips">
      <div class="box-content">
        <%= render "default/popular_destination" %>
      </div> <!-- .box-content -->
    </div> <!-- .box -->
  </div> <!-- .wrapBlock -->
</section>



<%= render "default/footer" %>