<footer id="Footer">
  <div class="wrapBlock">

      <div class="fcol newsletter-box">
        <h3><%= t "default.newsletter.newsletter_title" %></h3>


            <div class="input flashy center-block iblock">
            <form action="http://vladmihai.us3.list-manage.com/subscribe/post?u=abd491cfc71c72d898457794b&amp;id=55b51b9036" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input name="EMAIL" type="email" id="mce-EMAIL" class="input" placeholder="@" size="70" required />
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_abd491cfc71c72d898457794b_55b51b9036" value=""></div>
                <button class="icons fui-check button lb" name="subscribe" id="mc-embedded-subscribe" type="submit"><%= t "default.newsletter.newsletter_button" %></button>
            </form>
          </div> <!-- .input flashy -->

      </div>

      <div class="fcol center">
        <a href="/about" title="<%= t "default.home.about_link" %>"><%= t "default.home.about_link" %></a> &nbsp;&bull;&nbsp;
        <a href="/terms" title="<%= t "default.home.terms_link" %>"><%= t "default.home.terms_link" %></a> &nbsp;&bull;&nbsp;
        <a href="/privacy" title="<%= t "default.home.privacy_link" %>"><%= t "default.home.privacy_link" %></a>  &nbsp;&bull;&nbsp;
        <a href="/sitemap" title="Sitemap">Sitemap</a>
      </div>

      <div class="fcol center socials">

        <a href="#" title="Facebook" class="wi wi-facebook-square"></a>
        <a href="#" title="Google +" class="wi wi-google-plus-square"></a>
        <a href="#" title="RSS" class="wi wi-rss-square"></a>
      </div>

      <div class="center copy">
        &copy; 2013 - 2014 Wantatrip - <%= t "default.misc.all_rights" %>.
        <br />
        <strong><%= image_tag('de_heart.png', size: "21x18", alt: "Aus Deutschland") %> Hallo aus Deutschland!</strong>
      </div> <!-- .row -->
  </div> <!-- .wrapBlock -->

</footer>
<div class="overlay"></div>
<div class="debug-console">
  <%= debug(params) if Rails.env.development? %>
</div>
