<header id="Header">

        <div class="wrapBlock">

            <div class="Logo">
                <a href="/" title="Wantatrip">want<span>a</span>trip</a>
            </div>

          <nav id="topLeftNav" class="point-left">
            <a href="javascript:;" title="More" id="show-menu" class="icons fui-list"></a>

            <div class="popup-menu wat-modal" id="wat-menu">
              <ul>
                <li><a href="/about" title="<%= t "default.home.about_link" %>"><%= t "default.home.about_link" %></a></li>
                <li><a href="#" title="<%= t "default.home.bookmark_link" %>"><%= t "default.home.bookmark_link" %></a></li>
                <li class="wat-separator"><%= t "default.home.language_label" %></li>
                <li><%= link_to_unless_current "DE", locale: "de" %></li>
                <li><%= link_to_unless_current "EN", locale: "en" %></li>
              </ul>
            </div>

          </nav>

                <nav id="topRightNav">

                    <a href="javascript:;" title="Feedback" class="icons fui-heart" id="show-feedback">&nbsp;&nbsp;<%= t "default.home.feedback" %></a>

                </nav>

        </div>

</header>

<div class="wat-modal" id="wat-feedback">
<script>
    UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/bCCOnYhsCUftXEYY1nYQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

    UserVoice.push(['set', {
        accent_color: '#47d9bf',
        trigger_color: 'white',
        trigger_background_color: '#448dd6',
        screenshot_enabled: false,
    }]);
    UserVoice.push(['identify', {
        email:      'john.doe@example.com'
    }]);

    UserVoice.push(['addTrigger', '#show-feedback', { mode: 'contact' }]);
    UserVoice.push(['autoprompt', {}]);
</script>
</div>