<%= form_for [:admin, @restaurant], html: {class: "form-horizontal"} do |f| %>

    <%= render "admin/restaurants/error" %>

  <div class="form-group">
    <%= f.label :name, class: 'col-lg-1 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :address, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :email, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :web_page, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :web_page, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :is_active, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.check_box :is_active, class: 'form-control' %>
      </div>
    </div>
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <%= f.submit("Add a new Restaurant", class: 'btn btn-primary') %>
    </div>
  </div>
<% end%>