<%= form_for [:admin, @trip], html: {class: "form-horizontal"} do |f| %>
    <% if @trip.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @trip.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-1 col-lg-10">
        <% Category.all.each do |category| %>
            <div class="checkbox">
              <%= hidden_field_tag("trip[category_ids][]", nil) %>
              <%= check_box_tag "trip[category_ids][]",
                                category.id,
                                @trip.category_ids.include?(category.id),
                                id: dom_id(category) %>
              <%= label_tag dom_id(category), category.name %>
            </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-1 col-lg-10">
        <%= f.submit("Add", class: 'btn btn-primary') %>
      </div>
    </div>
<% end%>