    <div class="form-group">
      <%= f1.label :name, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f1.label :name_de, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.text_field :ger_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f1.label :city, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.text_field :city, class: 'form-control' %>
      </div>
    </div>
   
    <div class="form-group">
      <%= f1.label :zip_code, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.text_field :zip_code, class: 'form-control' %>
      </div>
    </div>
    
    <div class="form-group">
      <%= f1.label :description, class: 'col-lg-1 control-label' %>
      <div class="col-lg-6">
        <%= f1.cktext_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f1.label :description_de, class: 'col-lg-1 control-label' %>
      <div class="col-lg-6">
        <%= f1.cktext_area :ger_description, class: 'form-control' %>
      </div>
    </div>

    <div class="page-header">
      <h2>Extra fields</h2>
    </div> 
  
    <div class="form-group">
       <%= f1.label :country, class: 'col-lg-1 control-label' %>
         <div class="col-lg-2">
          <%= f1.text_field :country, class: 'form-control' %>
        </div>
    </div>

    <div class="form-group">
       <%= f1.label :country_de, class: 'col-lg-1 control-label' %>
         <div class="col-lg-2">
          <%= f1.text_field :ger_country, class: 'form-control' %>
        </div>
    </div>

n

    <div class="form-group">
       <%= f1.label :population_de, class: 'col-lg-1 control-label' %>
         <div class="col-lg-4">
          <%= f1.cktext_area :ger_population, class: 'form-control' %>
        </div>
    </div>


    <div class="form-group">
       <%= f1.label :latitude, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
          <%= f1.text_field :option_1, class: 'form-control' %>
      </div>
    </div>
  
    <div class="form-group">
       <%= f1.label :longitude, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.text_field :option_2, class: 'form-control' %>
      </div>
    </div>
   
    <div class="page-header">
      <h2>Active & Popular</h2>
    </div>

    <div class="form-group">
      <%= f1.label :is_active, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.check_box :is_active, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
        <%= f1.label :popular, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f1.check_box :popular, class: 'form-control' %>
      </div>
    </div>

    <div>
      <div class="page-header">
        <h2>Trip type</h2>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-1 col-lg-10">
          <% Category.all.each do |category| %>
              <div class="checkbox">
                <%= hidden_field_tag("trip[category_ids][]", nil) %>
                <%= check_box_tag "trip[category_ids][]",
                                  category.id, 
                                  @trip.category_ids.include?(category.id), 
                                  id: dom_id(category) %>
                <%= label_tag dom_id(category), category.name %>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="page-header">
      <h2>Images</h2>
    </div>

    <%= f1.fields_for :paintings do |i| %>
        <div class="form-group">
          <%= i.label :image, class: 'col-lg-1 control-label' %>
          <div class="col-lg-2">
            <%= i.file_field :image, class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-lg-offset-1 col-lg-10">
        <%= f1.submit("Add a new trip", class: 'btn btn-primary') %>
      </div>
    </div>
