<h1>All the trips are here</h1>
<% @trips.each do |trip| %>
    <p>
      <%= trip.name %>
      <%= link_to trip.name, admin_trip_path(trip) %>

    </p>
<% end %>

<%= form_tag admin_trips_path, method: :get do  %>
    <%= text_field_tag("query",params[:query]) %>
    <%= submit_tag() %>
<% end%>