<div class="page-header">
  <h1>List trips</h1>
</div>
<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th>#</th>
        <th>Trip name</th>
        <th>URL</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
<% @trips.each do |trip| %>

    <tr>
        <td><%= trip.id %></td>
        <td><%= trip.name %></td>
        <td><%= link_to trip.name, admin_trip_path(trip) %></td>
        <td>show / edit / delete </td>
    </tr>

<% end %>
</tbody>
</table>


<%= form_tag admin_trips_path, method: :get, class: 'form-horizontal' do  %>
  <div class="form-group">
    <div class="col-lg-3">
        <%= text_field_tag("query", params[:query], id: "trip_search", class: 'form-control')%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10">
      <%= submit_tag("Add", class: 'btn btn-primary') %>
    </div>
  </div>

<% end%>

