
<div class="container">
  <div class="help-block">
    <h1>trip page for: <strong><%= @trip.name %></strong></h1>
    <h2>Is active?: <%= @trip.is_active %></h2>
    <h3>City: <%= @trip.city %></h3>
    <p>Description: <%= @trip.description.html_safe %></p>
    <strong>Type size:<%= @trip.categories.size %></strong>
  </div>
  <% @trip.categories.each do |cate| %>
      <span class="label label-success"> ||
        <strong><%= cate.name %></strong>
      </span>
      <% end %>

  <div class="has-error">
    <% @trip.paintings.each do |paint| %>
        <%= image_tag paint.image_url(:resized).to_s %>
        Name <strong><%= paint.name %></strong><br> |
        Feature <strong><%= paint.is_feature %></strong><br> |
       Image Location <strong><%= paint.image %></strong><br> |
        Is Active <strong><%= paint.is_active %></strong><br>
        <div class="breadcrumb">
          <%= link_to "Edit", edit_admin_painting_path(paint), class: "btn btn-primary" %>
          <%= link_to "Delete", admin_painting_path(paint),
                      method: :delete,
                      data: {confirm: "are you sure you want to destroy?"},
                      class: 'btn btn-danger'
          %>
        </div>
    <% end %>
  </div>
  <div class="hero-unit">
    <%= link_to "add a new image", new_admin_painting_path, class: 'btn btn-primary' %>

  </div>
</div>
