<h1>List all painting</h1>
<% @paintings.each do |paint| %>
    <div class="container">
      <div class="breadcrumb">
        <%= link_to "Edit", edit_admin_painting_path(paint), class: "btn btn-primary" %>
        <%= link_to "Delete", admin_painting_path(paint),
                    method: :delete,
                    data: {confirm: "are you sure you want to destroy?"},
                    class: 'btn btn-danger'
        %>
        <%= link_to paint.trip.try(:name), admin_trip_path(paint.trip), class: 'btn btn-primary' %>
      </div>
      <p>Name:<%= paint.name %></p>
      <p>Is Active:<%= paint.is_active %></p>
      <p>Image Location:<%= paint.image %></p>
      <p>Is feature:<%= paint.is_feature %></p>
      <%= image_tag paint.image_url(:thumb) %>
    </div>
    <div class="help-block">
      <%= link_to "add a new painting", new_admin_painting_path, class: 'btn btn-link' %>
    </div>
<% end %>

<div class="hpFooterBlock">
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @paintings %>
    </div>
    <%= will_paginate @paintings, :container => false%>
  </div>
</div>