<h1>List all painting</h1>
<p>search</p>

<div class="container">
  <%= form_tag admin_paintings_path, method: :get, class: "form-vertical" do  %>

      <div class="form-group">
        <div class="col-lg-2">
          <%= text_field_tag :search, params[:query], class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">
          <%= submit_tag "search", class: 'btn btn-info' %>
        </div>
      </div>
  <% end %>
</div>


<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th><%= sortable "name" %></th>
      <th>Preview</th>
      <th><%= sortable("trip") %></th>
      <th><%= sortable("is_feature") %></th>
      <th><%= sortable("is_active") %></th>
      <th>Created_at</th>
      <th>Actions </th>

    </tr>
    </thead>
    <tbody>
    <% @paintings.each do |paint| %>

        <tr>
          <td><%= paint.id %></td>
          <td><%= paint.name %></td>
          <td><%= image_tag paint.image_url(:small).to_s %></td>
          <td><%= paint.trip.try(:name) %>

          </td>
          <td><%= paint.is_feature ? "Yes" : "No"  %></td>
          <td><%= paint.is_active  ? "Yes" : "No" %></td>
          <td><%= paint.created_at.to_formatted_s(:long)%></td>

          <td>
            <%= link_to "Edit", edit_admin_painting_path(paint), class: 'btn btn-primary' %>
            <%= link_to "Show", admin_painting_path(paint), class: 'btn btn-info' %>
            <%= link_to "Delete", admin_painting_path(paint),
                        method: :delete,
                        data: {confirm: "are you sure you want to destroy?"},
                        class: 'btn btn-danger'
            %>
          </td>

        </tr>

    <% end %>
    </tbody>
  </table>

</div>



<div class="hpFooterBlock">
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @paintings %>
    </div>
    <%= will_paginate @paintings, :container => false%>
  </div>
</div>