<h1>List all painting</h1>
<p>search</p>

<div class="container">
  <%= form_tag admin_paintings_path, method: :get, class: "form-vertical" do  %>

      <div class="form-group">
        <div class="col-lg-2">
          <%= text_field_tag :search, params[:search], class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-2">
          <%= submit_tag "search", class: 'btn btn-info' %>
        </div>
      </div>
  <% end %>
</div>


<div class="hpFooterBlock">
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @paintings %>
    </div>
    <%= will_paginate @paintings, :container => false%>
  </div>
</div>