<section class="homepageEngine" data-type="background" data-speed="2">
<div class="adPic">

<div class="slogan">Travel like you want
    <div class="subSlogan">Tell us what are you searching for and we’ll find the best destination for you</div>
</div>

<section id="Search">
<%= form_for @search do |f| %>
<div class="step1">

<!--
    <p>
      <%= f.label :keyword, id:"btn" %>
      <%= f.text_field :keyword %>
    </p>
    <p>
      <%= f.label :person_number %>
      <%= f.text_field :person_number %>
    </p>
    <p>
      <%= f.label :min_price %>
      <%= f.text_field :min_price %>
    </p>
    <p>
      <%= f.label :max_price, size:10 %>
      <%= f.text_field :max_price, size:10 %>
    </p>

    <p>
      <%= f.label :category_id %>
      <%= f.collection_check_boxes :category_id, Category.order(:name), :id, :name, include_blank: true %>
    </p>

    <a href="#" title="next">Next</a>

-->

<div class="searchBlock">

<div class="sbTitle">Persons:</div>



    <div class="count">
    <img src="/assets/person.svg" alt="Travelers" width="20" />
    <input type="text" name="persons" id="persons" value="2">
        <span class="number">x<span>2</span></span>
            <span class="add pnav">+</span>
            <span class="rem pnav">-</span>
    </div> <!-- .count -->

</div> <!-- .searchBlock -->

<div class="searchBlock options">

<div class="sbTitle">Activities:</div>

    <label class="styled" id="go_bike">
		<input type="checkbox" name="bikes">
		<span></span>
	</label>

    <label class="styled" id="go_hike">
		<input type="checkbox" name="hike">
		<span></span>
	</label>

    <label class="styled" id="go_beach">
		<input type="checkbox" name="beach">
		<span></span>
	</label>

    <label class="styled" id="go_lake">
		<input type="checkbox" name="lake">
		<span></span>
	</label>

    <label class="styled" id="go_castles">
		<input type="checkbox" name="castles">
		<span></span>
	</label>

    <label class="styled" id="go_fun">
		<input type="checkbox" name="fun">
		<span></span>
	</label>

    <label class="styled" id="go_love">
		<input type="checkbox" name="love">
		<span></span>
	</label>

</div> <!-- .searchBlock -->

<div class="searchBlock select-days">

<div class="sbTitle">Days:</div>

    <div class="count">
        <input type="text" name="days" id="days" value="7" class="tinput">
            <span class="add pnav">+</span>
            <span class="rem pnav">-</span>
    </div> <!-- .count -->

</div> <!-- .searchBlock -->

<div class="searchBlock submit">

    <%= f.submit %>

</div> <!-- .searchBlock -->

</div> <!-- step 1 -->

<% end %>

</section> <!-- #Search -->

<div class="scrollMore">
    <img src="/assets/darrow.svg" alt="Scroll for more" width="35" id="scrollPage" />
</div>
</div> <!-- .adPic -->
</section> <!-- .homepageEngine -->

<section class="wideBlock hpFooterBlock">
    <div class="wrapBlock">
        <h1>About our website</h1>
        <h2>Find travel offers according to your activities</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tincidunt aliquam mi eget rhoncus.
            Sed sollicitudin auctor pretium. In hac habitasse platea dictumst. Nullam eget sem accumsan, dapibus erat vel,
            sagittis sapien. Nullam urna purus, fringilla eu mattis vel, vulputate molestie odio.
            Maecenas semper elit ut ullamcorper convallis. In consectetur gravida nisi at egestas.
            Aliquam vehicula nisl ultrices magna imperdiet aliquet aliquam ut sapien. Nunc ut turpis quis lorem viverra faucibus.
            Nunc adipiscing vulputate elit, eu dictum enim. Donec sed eros erat.
        </p>
    </div> <!-- .wrapBlock -->
</section>

<section class="wideBlock addSugg hpFooterBlock">
    <div class="wrapBlock">
        <h3>Where would you like to travel?</h3>
        <h4>Suggest future destinations</h4>

        <a href="#" title="Chicago">Chicago</a>
        <a href="#" title="San Francisco">San Francisco</a>
        <a href="#" title="California">California</a>
        <a href="#" title="New York">New York</a>
        <a href="#" title="Canada">Canada</a>
        <a href="#" title="Mexico">Mexico</a>
        <a href="#" title="Brazil">Brazil</a>
        <a href="#" title="Argentina">Argentina</a>
        <a href="#" title="Peru">Peru</a>
        <a href="#" title="Hawaii">Hawaii</a>
        <a href="#" title="Bucharest">Bucharest</a>
        <a href="#" title="Tg. Mures">Tg. Mures</a>
        <a href="#" title="Hallstat">Hallstat</a>
        <a href="#" title="Austria">Austria</a>
        <a href="#" title="Italy">Italy</a>
        <a href="#" title="Switzerland">Switzerland</a>
        <a href="#" title="Zurich">Zurich</a>
        <a href="#" title="Berlin">Berlin</a>
        <a href="#" title="Just countries">Just countries</a>
        <a href="#" title="Germany">Germany</a>
        <a href="#" title="United Kingdom">United Kingdom</a>
        <a href="#" title="Norway">Norway</a>
        <a href="#" title="Sweden">Sweden</a>
        <a href="#" title="Spain">Spain</a>
    </div> <!-- .wrapBlock -->

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

</section>