<div class="homepageEngine">

<section id="Search" class="wrapBlock">
<%= form_for @search do |f| %>
<div class="step1">
    <p>
      <%= f.label :keyword, id:"btn" %>
      <%= f.text_field :keyword %>
    </p>
    <p>
      <%= f.label :person_number %>
      <%= f.text_field :person_number %>
    </p>
    <p>
      <%= f.label :min_price %>
      <%= f.text_field :min_price %>
    </p>
    <p>
      <%= f.label :max_price, size:10 %>
      <%= f.text_field :max_price, size:10 %>
    </p>

    <p>
      <%= f.label :category_id %>
      <%= f.collection_check_boxes :category_id, Category.order(:name), :id, :name, include_blank: true %>
    </p>

    <a href="#" title="next">Next</a>

</div>
</div class="step2">
    campuri 2

        <%= f.submit %>

</div>

<% end %>

</section> <!-- #Search -->

</div>