<div class="homepageEngine">
<div class="adPic">

<div class="slogan">Travel like you want
    <div class="subSlogan">Tell us what are you searching for and we’ll find the best destination for you</div>
</div>

<section id="Search">
<%= form_for @search do |f| %>
<div class="step1">

<!--
    <p>
      <%= f.label :keyword, id:"btn" %>
      <%= f.text_field :keyword %>
    </p>
    <p>
      <%= f.label :person_number %>
      <%= f.text_field :person_number %>
    </p>
    <p>
      <%= f.label :min_price %>
      <%= f.text_field :min_price %>
    </p>
    <p>
      <%= f.label :max_price, size:10 %>
      <%= f.text_field :max_price, size:10 %>
    </p>

    <p>
      <%= f.label :category_id %>
      <%= f.collection_check_boxes :category_id, Category.order(:name), :id, :name, include_blank: true %>
    </p>

    <a href="#" title="next">Next</a>

-->

<div class="searchBlock">

<div class="sbTitle">Persons:</div>



    <div class="count">
    <img src="/assets/person.svg" alt="Travelers" width="20" />
    <input type="text" name="persons" id="persons" value="2">
        <span class="number">x<span>2</span></span>
            <span class="add pnav">+</span>
            <span class="rem pnav">-</span>
    </div> <!-- .count -->

</div> <!-- .searchBlock -->

<div class="searchBlock options">

<div class="sbTitle">Activities:</div>

    <label class="styled" id="go_bike">
		<input type="checkbox" name="bikes">
		<span></span>
	</label>

    <label class="styled" id="go_hike">
		<input type="checkbox" name="hike">
		<span></span>
	</label>

    <label class="styled" id="go_beach">
		<input type="checkbox" name="beach">
		<span></span>
	</label>

    <label class="styled" id="go_lake">
		<input type="checkbox" name="lake">
		<span></span>
	</label>

    <label class="styled" id="go_castles">
		<input type="checkbox" name="castles">
		<span></span>
	</label>

    <label class="styled" id="go_fun">
		<input type="checkbox" name="fun">
		<span></span>
	</label>

    <label class="styled" id="go_love">
		<input type="checkbox" name="love">
		<span></span>
	</label>

</div> <!-- .searchBlock -->

<div class="searchBlock select-days">

<div class="sbTitle">Days:</div>

    <div class="count">
        <input type="text" name="days" id="days" value="7" class="tinput">
            <span class="add pnav">+</span>
            <span class="rem pnav">-</span>
    </div> <!-- .count -->

</div> <!-- .searchBlock -->

<div class="searchBlock submit">

    <%= f.submit %>

</div> <!-- .searchBlock -->

</div> <!-- step 1 -->

<% end %>

</section> <!-- #Search -->


</div> <!-- .adPic -->
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />