<%= form_for [:admin, @category], html: {class: "form-horizontal"} do |f| %>
    <% if @category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@category.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
  <div class="form-group">
    <%= f.label :name, class: 'col-lg-1 control-label' %>
    <div class="col-lg-2">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :is_active, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.check_box :is_active, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :description, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :seo, class: 'col-lg-1 control-label' %>
      <div class="col-lg-2">
        <%= f.text_field :seo, class: 'form-control' %>
      </div>
    </div>
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <%= f.submit("Add", class: 'btn btn-primary') %>
    </div>
  </div>
<% end%>