<!DOCTYPE html>
<html>
<head>
  <title>Top300de</title>


  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/assets/admin/admin.css.scss" rel="stylesheet" media="screen">
    <link href="/assets/admin/bootstrap.min.css" rel="stylesheet" media="screen">

</head>
<body>

<%= render 'admin/shared/header' %>

<% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "warning" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg  %>
    </div>
<% end %>
<%= yield %>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/admin/bootstrap.min.js"></script>
</body>
</html>
