<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= yield :view_specific_css %>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= yield :view_specific_js %>
  <%= csrf_meta_tags %>
  <%= render 'shared/analytics' %>
</head>
<body class="<%= yield (:body_class) %>">

<%= render 'shared/header' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
