<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Vlad</title>
=======
  <title>Wantatrip - Travel by preferences</title>
>>>>>>> 99a10fffcdbd806fd33e754fce23e96cdab9b204
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'shared/header' %>
<%= yield %>
<%= render 'shared/footer' %>
</body>
</html>
