<!DOCTYPE html>
<html>
<head>
  <title>Wantatrip - Travel by preferences</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="wat-static">

<div id="wat-wrap">
  <div id="wat-main">
  <%= render 'shared/header' %>
  <%= yield %>
  </div>
</div>

<div id="wat-footer">
<%= render 'shared/footer' %>
</div>

</body>
</html>
